<%= error_messages_for 'attraction_order' %>

<!--[form:attraction_order]-->
<p><label for="attraction_order_guest_name">Guest name</label><br/>
<%= text_field 'attraction_order', 'guest_name'  %></p>

<p><label for="attraction_order_room_number">Room number</label><br/>
<%= text_field 'attraction_order', 'room_number'  %></p>


	
<%#= select_tag 'order_status', options_for_select(["Incomplete", "Complete"]) %></p>
<!--[eoform:attraction_order]-->

