<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src=<%= @attraction.map_link %>></iframe><br /><small><a href=<%= @attraction.map_link %> style="color:#0000FF;text-align:left">View Larger Map</a></small>