<div id="blue_bg">
  <p><div id="contentblue">


<div id="titlegen"></div>



<div id="order_info">

<p><span class="title"></span></p>

<p style="color: green"><%= flash[:notice] %></p>


</div></p>
	<p> Thank you for your order, we hope you enjoy your stay. </p>
  </div>
<div class="checkout_submit"><%= link_to image_tag("continue.jpg"), :action=> 'new'%></div>

  </div>


</div>